body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 20rem;
    background-color: rgba(0, 85, 255, 0.478);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:hover {
    box-shadow: 15px 15px 15px 0px grey;
    transition: all 0.2s linear;
}

label {
    display: block;
    margin-bottom: 5px;

}

.sign-in-form {
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    margin-top: -30px;
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
 
}
space{
    margin-top: 60px;

}

button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;

}

.login-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
    justify-content: center;
    font-weight: 700;
}

button:hover {
    border-radius: 50px;
    transition: all 0.2s linear;

}

.ErrMessage{
    color: red;
    font-size: medium;
  }

