body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    box-shadow: 10px ;
}


.mainform {
    border-radius: 10px;
    width: 220px;
    height: 30rem;
    background-color: rgba(0,85,255,0.478);
    padding: 20px 85px 55px 50px;

}
.mainform2 {
   max-width: 300px;
   margin: 0 auto;
   
}

h2 {
    align-items:center;
    padding-inline-start: 80px;
    padding-top: 35px;
    
}

input {
    width: 250px;
    height: 30px;
    border-radius:5px;
}

.btn {
   border-radius:5px;
   margin-top: 40px;
   margin-left: 27px;
   background-color: black;
   color: white;
   width: 200px;
   height: 30px;
}

.mainlabel {
   align-items:center;
   height: 200px;
}

.mainform:hover {
    box-shadow: 15px 15px 15px gray ;
    transition: all 0.2s linear;
}